.App {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg,rgb(255, 228, 192),rgb(243, 200, 164));
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  height: 100vh;                
}
.hero-text{
 display :flex;
 padding-left: 10%;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  
}
.hello-box{
  font-size: 2.5rem;
  /* border:  solid white; */
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  background: rgba(255, 192, 203, 0.3);
  padding: 40px 60px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  color: rgb(230, 64, 64);

}
.hello-heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
.hello-heading::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}
.hidden-text{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
}

.slide-in{
  opacity: 1;
  transform: translateX(0);
}

.intro-text {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #bb4747;
}
.navBar{
  display:flex;
  background :linear-gradient(0deg,rgb(243, 200, 164),rgb(255, 228, 192));
  background-position: center;
  height: 9vh;
  width: 100%;
  /* border: 4px rgb(252, 218, 175) solid ; */
  box-shadow: 4px 4px 9px rgb(240, 168, 168);
  
}
.navBar-name{
  font-size:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  font-style: italic;
  color: rgb(0, 0, 0);
}
.Resume-button{
  border: 1px solid rgb(245, 101, 101);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(240, 168, 168);
}