*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body, #root{
  width:100%;
  height:100%;
  scroll-behavior:smooth;
  background:#0b1c2d;
  font-family:'Poppins',sans-serif;
  overflow-x:hidden;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  padding:25px 80px;
  display:flex;
  justify-content:space-between;
  z-index:100;
  color:#f3c96b;
}

nav a{
  margin-left:30px;
  text-decoration:none;
  color:#f3c96b;
  font-size:14px;
}

.page{
  height:100vh;
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:100px 60px;
  position:relative;
}

.face{
  width:220px;
  height:220px;
  border-radius:50%;
  overflow:hidden;
  margin:0 auto 30px auto;  
  display:flex;
  align-items:center;
  justify-content:center;
}


.face img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:50%;
}

h1,h2{
  color:#f3c96b;
}

p{
  max-width:600px;
  color:#ddd;
  margin-top:15px;
  line-height:1.6;
}
.project-grid{
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
  width:100%;
  max-width:1000px;
}


.project-card{
  background:#13263d;
  padding:30px;
  border-radius:20px;
  text-align:left;
  transition:0.4s;
}
.project-card h3{
  color: #f3c96b;
}
.links{
  margin-top:15px;
  display:flex;
  gap:15px;
}

.links a{
  text-decoration:none;
  padding:8px 16px;
  background:#0b1c2d;
  border:1px solid #f3c96b;
  color:#f3c96b;
  border-radius:20px;
  font-size:13px;
  transition:0.3s;
}

.links a:hover{
  background:#f3c96b;
  color:#0b1c2d;
}


.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 20px rgba(243,201,107,0.4);
}
.page{
  position:relative;
  overflow:hidden;
}

.center{
  position:relative;
  z-index:2;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.side-face{
  position:absolute;
  bottom:-700px;
  width:80rem;          /* BIG size */
  max-width:90vw;      /* responsive */
  opacity:0.95;
  pointer-events:none;
}


.left-face{
  left:-80vh
}

.right-face{
  right:-80vh;
  transform: scaleX(-1);
}

.split{
  display:flex;
  padding:0;
}

.half{
  width:50%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:80px;
}

.left{
  background:#0f253d;
}

.right{
  background:#0b1c2d;
}

.leetcode-card{
  margin-top:40px;
  background:#13263d;
  padding:30px;
  border-radius:20px;
  max-width:300px;
}

.leetcode-card a{
  display:inline-block;
  margin-top:15px;
  color:#f3c96b;
  text-decoration:none;
}
