.about-page{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:80px;
  padding:120px 10vw;
  background:#fdfaf5;
}

/* LEFT IMAGE */
.about-left{
  position:relative;
}

.about-left img{
  width:320px;
  border-radius:10px;
  background:#fff;
  padding:8px;

  box-shadow:
    6px 6px 0px #000,
    12px 12px 0px #f3c96b;

  transition:0.25s ease;
    animation: comicFloat 4s ease-in-out infinite;
}

.about-left img:hover{
  transform: translate(-6px,-6px);
  box-shadow:
    10px 10px 0px #000,
    18px 18px 0px #f3c96b;
}
.about-right{
  max-width:500px;
  background:#ffffff;
  padding:40px;
  border:3px solid #000;
  box-shadow: 8px 8px 0px #000;
    animation: comicSlide 0.8s ease forwards;
}
.about-text{
  font-size:1.1rem;
  line-height:1.8;
  color:#111;
  font-weight:500;
  letter-spacing:0.5px;
}
.about-text span{
  display:inline-block;
  transition:0.2s;
}

.about-text span:hover{
  color:#f3c96b;
  transform: translateY(-3px) rotate(-2deg);
}


@keyframes comicSlide{
  from{
    opacity:0;
    transform: translateX(40px);
  }
  to{
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes comicFloat{
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
