.about-page{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:120px 10vw;
  gap:80px;
}

/* LEFT IMAGE */
.about-left img{
  width:320px;
  height:320px;
  object-fit:cover;
  border-radius:30px;
  box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

/* RIGHT TEXT */
.about-right{
  max-width:500px;
  overflow:hidden;
}

/* Animated paragraph */
.about-text{
  font-size:1.1rem;
  line-height:1.8;
  color:#000000;
  animation: slideIn 1.2s ease forwards;
}

/* Slide from left */
@keyframes slideIn{
  from{
    opacity:0;
    transform:translateX(-80px);
  }
  to{
    opacity:1;
    transform:translateX(0);
  }
}

/* Hover letter effect */
.about-text span{
  display:inline-block;
  transition:0.25s;
}

.about-text span:hover{
  transform:scale(1.3);
  color:#f3c96b;
  cursor: pointer;
 
}
