.nav{
  position:fixed;
  top:30px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:14px 40px;
  width:85%;
  max-width:1100px;
  background:rgba(15,25,45,0.85);
  backdrop-filter: blur(10px);
  border-radius:50px;
  z-index:1000;
  box-shadow:0 0 30px rgba(0,0,0,0.4);
}

.logo{
  color:#f3c96b;
  font-weight:700;
  letter-spacing:2px;
  font-size:18px;
}

.links a{
  margin-left:30px;
  text-decoration:none;
  color:#ddd;
  font-size:14px;
  position:relative;
  transition:0.3s;
}

.links a::after{
  content:"";
  position:absolute;
  bottom:-6px;
  left:0;
  width:0;
  height:2px;
  background:#f3c96b;
  transition:0.3s;
}

.links a:hover{
  color:#f3c96b;
}

.links a:hover::after{
  width:100%;
}
