.nav{
  position: fixed;
  top: 0;
  left: 0;
  transform: none;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;
  background: rgba(15,25,45,0.95);
  backdrop-filter: blur(8px);

  border-radius: 0;          /* remove round box */
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  z-index: 1000;
}


.logo{
  color:#f3c96b;
  font-weight:700;
  letter-spacing:2px;
  font-size:18px;
}

.links a{
  margin-left:30px;
  text-decoration:none;
  color:#ddd;
  font-size:14px;
  position:relative;
  transition:0.3s;
}

.links a::after{
  content:"";
  position:absolute;
  bottom:-6px;
  left:0;
  width:0;
  height:2px;
  background:#f3c96b;
  transition:0.3s;
}

.links a:hover{
  color:#f3c96b;
}

.links a:hover::after{
  width:100%;
}
