.nav{
  width:100%;
  padding:1.6rem 4rem;

  display:flex;
  align-items:center;
  justify-content:space-between;

  position:fixed;
  top:0;
  left:0;
  z-index:100;

  background:#fdfaf5;
  border-bottom:2px solid rgba(0,0,0,0.08);
  box-shadow:0 6px 18px rgba(0,0,0,0.06);

  transition:all 0.3s ease;
}

/* LOGO */
.logo{
  font-family:'Fredoka', sans-serif;
  font-size:2rem;
  font-weight:600;
  color:#000;

  position:relative;
  z-index:1;
}

/* yellow marker behind logo */
.logo::after{
  content:"";
  position:absolute;
  left:-6px;
  bottom:6px;
  width:110%;
  height:12px;
  background:#f3c96b;
  z-index:-1;
  transform:rotate(-2deg);
}

/* LINKS */
.links{
  display:flex;
  gap:2.5rem;
}

.links a{
  text-decoration:none;
  font-family:'Poppins', sans-serif;
  font-size:1.1rem;
  font-weight:600;
  color:#000;

  position:relative;
  transition:color 0.25s ease;
}

/* underline animation */
.links a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:3px;
  background:#f3c96b;
  transition:width 0.25s ease;
}

/* hover */
.links a:hover::after{
  width:100%;
}

/* ACTIVE LINK (NavLink auto class) */
.links a.active::after{
  width:100%;
}

.links a.active{
  color:#000;
}
@media (max-width:768px){
  .nav{
    padding:1.4rem 2rem;
  }

  .links{
    gap:1.6rem;
  }
}
